For loop 
Assignment Quetsions

Basic level:

1. Write a python program to print......

In [2]:
#it is done simple by setting range 1 to 11 so that they can eaily print from 1 to n-1
for i in range(1,11):
    print("number:",i)

numbers: 1
numbers: 2
numbers: 3
numbers: 4
numbers: 5
numbers: 6
numbers: 7
numbers: 8
numbers: 9
numbers: 10

2. create a program that calculates the sum.....

In [4]:
l=[1,3,5,7,9]
# here intilize sum with zero..
sum=0
for i in l:
    sum=sum+i
print("The sum of list :",sum)

The sum of list : 25

3.write a program to print the character.....

In [9]:
s="pwskill"
r=s[::-1]
for i in r:
    # now we are able to directly print the string in the reverse order 
    print(i)

l
l
i
k
s
w
p

4.Develop th program to finds the factorial .....

In [14]:
n=int(input("enter the number:"))
fact=1
if n==0:
    print("the factorial of number is 1")
else:
    for i in range(1,n+1):
        fact=fact*i
    print(fact)

enter the number: 5

120

5.create a prgram to print the multiplication....

In [19]:
n=int(input("Enter the number whoes multipliaction u want to find:"))
for i in range(1,11):
    # this done  with the help of very easy way just by storing the value..
    mult=n*i
    print(n,"*",i,"=",mult)

Enter the number whoes multipliaction u want to find: 10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

6. write the program to count the number......

In [5]:
# here first we have to make list...
l=[1,3,4,6,5,8,9,2]
even=0
odd=0
for i in l:
    if i%2==0:
        even=even+1
    else:
        odd=odd+1
print("total number of even in list:",even)
print("total number of odd in list:",odd)

total number of even in list: 4
total number of odd in list: 4

7.Develop the program that print the square of numbers from 1 to 5.....

In [6]:
#make variable to store value 

for i in range(1,6):
    # easily done by storing number value in one varible 
    squr=i*i
    print(i,"squr of number",squr)

1 squr of number 1
2 squr of number 4
3 squr of number 9
4 squr of number 16
5 squr of number 25

8.Create a Program to find the length of string without using.....

In [8]:
s=input("Enter the string:")
# count is created here which is used to store each single value and at the end they show otal lenth of string
count=0
for i in s:
    count=count+1
print("Total length of string is:",count)

Enter the string: PWSKILLS

Total length of string is: 8

9.write the program that calculate the average of a list.....

In [10]:
# first we need to make list
l=[1,4,6,3,5]
add=0
count=0
for i in l:
    add=add+i
    count=count+1
    avg=add/count
print("sum of number",add,
      "total number in list",count,
      'average of list:',avg)

sum of number 19 total number in list 5 average of list: 3.8

10. Develop a program that printthe frist 'n' Fibonacci numbers using a for...

In [14]:
n=int(input("enter the number"))
a=0 
b=1 
print(a,b,end=' ')
for i in range(n):
            c=a+b
            print(c,end=' ')
            # now we have to swap the value
            a=b
            b=c

enter the number 12

0 1 1 2 3 5 8 13 21 34 55 89 144 233

Intermediate level:

11.write a program to check if a given list....

In [17]:
l=[1,2,3,8,7,6,5,3,2]
list_unique=[]
list_duplicate=[]
for i in l:
    # now we  by using not in we are able to find whter it is in it or not
    if i not in list_unique:
        list_unique.append(i)
    elif i not in list_duplicate:
        list_duplicate.append(i)
print(list_duplicate)

[3, 2]

12. Create a program that print the prime number....

In [38]:
# frist we need number
n=int(input("enter the number "))
for i in range (2,n):
    if (n%i==0):
        print("number is not prime:",n)
        break
    else:
        print("number is prime:",n)

enter the number  4

number is not prime: 4

13. Develop a program that count the numbers of vowels in a string using a ....

In [52]:
#here we first make random string
s="pwskiiaeeolls"
#here we first make vowel contain
l=['a','e','i','o','u']
#first we need to set  the value for ount zero
count=0
# here we check that i is contain string char
for i in s:
    if i in l:
        count=count+1
print("total number of vowels are:",count)

total number of vowels are: 6

14.Write a program to find the maximum all element in 2d list

In [1]:
def find_max_2d(arr):
    max_element = arr[0][0]
    for row in arr:
        for element in row:
            if element > max_element:
                max_element = element

    return max_element
two_d_list = [
    [23, 56, 12],
    [67, 45, 89],
    [10, 5, 36]
]
max_value = find_max_2d(two_d_list)
print("The maximum element in the 2D list is:", max_value)

The maximum element in the 2D list is: 89

15.create aprogra to remove all occurance in specific prgram.....

In [1]:
list=[10,20,40,50,40,30,40]
# number want to removed
n=40
print(list)
for i in list:
    if i==n:
        list.remove(i)
print("list after remove all occurance of elements",list)

[10, 20, 40, 50, 40, 30, 40]
list after remove all occurance of elements [10, 20, 50, 30]

16.Develop the a program that grenrate  a multiplication table.....

In [6]:
for i in range(1,6):
    for j in range(1,11):
        mult=i*j
        print(i,"*",j,"=",mult)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. write a program to convert faherenheit....

In [10]:
# first we need to give list
fah=[32,70,98,212]
for i in fah:
    celsius=(i-32)*5/9
    print("temp convert faherenheit to celsius:",celsius)

temp convert faherenheit to celsius: 0.0
temp convert faherenheit to celsius: 21.11111111111111
temp convert faherenheit to celsius: 36.666666666666664
temp convert faherenheit to celsius: 100.0

18.Create a program to print the common elements from two lists using a for loop.

In [25]:
# first need to make two lists
list_one = [5, 10, 15, 20, 25, 30]
list_two = [10, 20, 30, 40, 50, 60]
common_list = [c for c in list_one if c in list_two]
print(common_list)

[10, 20, 30]

19.Develop a program that print.....

In [26]:
x=int(input("Enter row number:"))
for i in range(x):
    for j in range(i+1):
        print("*",end=" ")
    print(" ")

Enter row number: 5

*
* *
* * *
* * * *
* * * * *

20.write a program to find the greatest....

In [2]:
def find_gcd(a, b):
    if a < b:
        smaller = a
    else:
        smaller = b

    for i in range(1, smaller + 1):
        if (a % i == 0) and (b % i == 0):
            gcd = i
    return gcd
# Input two numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
# Calculate and display the GCD
gcd = find_gcd(num1, num2)
print("The GCD of", num1, "and", num2, "is", gcd)

Enter the first number:  24
Enter the second number:  12

The GCD of 24 and 12 is 12

21.create a program.....

In [50]:
list1=[12,34,56,78]
list2=[]
for i in list1:
    sum=0
    for j in str(i):
        sum=sum+int(j)
    list2.append(sum)
print(list2)

[3, 7, 11, 15]

22. write a program to find prime factors .....

In [54]:
#here first we need to find factors of given number using for loop
n=int(input("enter the number "))
for i in range (2,n):
    if (n%i==0):
        print("number is not prime:",n)
        break
    else:
        print("number is prime:",n)
#here we need to find prime factors of given number using list comphe..
prime = [i for i in range(2, n) if all(i % j != 0 for j in range(2, i))]
print("throught list compheresion:",prime)

enter the number  12

number is not prime: 12
throught list compheresion: [2, 3, 5, 7, 11]

23.Develop a program that extract unique elemnts.....

In [61]:
states = [12,24,35,12,45]
unique_states = []
[unique_states.append(state) for state in states if state not in unique_states]
print(unique_states)

[12, 24, 35, 45]

24.Create a program that genrate list of palindromic.....

In [15]:
def is_palindrome(number):
    return str(number)==str(number)[::-1]
def genrate_palindromic_numbers(limit):
    palindromic_numbers=[num for num in range(1,limit+1)if is_palindrome(num)]
    return palindromic_numbers
limit=1000
palindromic_number=genrate_palindromic_numbers(limit)
print(palindromic_number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

25.write a program to faltten a nested....

In [62]:
my_list = [[1], [2, 3], [4, 5, 6, 7]]

flat_list = [num for sublist in my_list for num in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7]

26.Develop program that computes the sum of even and odd number...

In [20]:
l=[10,23,4,7,9,8]
count1=0
count2=0
list_even=[ count1:=count1+i for i in l if i%2==0 ]
list_odd=[ count2:=count2+i for i in l if i%2!=0]
print("sum of even list using list comprehension:",count1)
print("sum of odd list using list comprehension:",count2)

sum of even list using list comprehension: 22
sum of odd list using list comprehension: 39

27.create list program that genrates a list of squares.....

In [22]:
# here frist we nedd to set range then apply condition to check number is odd or even then after 
#we need ....create square of number
list_odd=[i*i for i in range(1,10) if i%2!=0]
print("squares of odd number from list:",list_odd)

squares of odd number from list: [1, 9, 25, 49, 81]

28. Write a program that combines two lists into dictionary using list ....

In [24]:
l1=['a','b','c','d']
l2=[3,5,7,8]
l={l1:l2 for l1,l2 in zip(l1,l2)}
print(l)

{'a': 3, 'b': 5, 'c': 7, 'd': 8}

29.Develop a program that extract the vowels from....

In [31]:
l=['a','e','i','o','u']
s="peewsills"
c=[i for i in s if i in l]
print("The vowels from a string and stores them in list:",c)

The vowels from a string and stores them in list: ['e', 'e', 'i']

30.Create a program that removes ......

In [36]:
s="pwe3kil&l6"
c=[  i for i in s if i.isdigit()]
print(" string after removing all non_numeric characters from a list:",c)

 string after removing all non_numeric characters from a list: ['3', '6']

31.Write program to genrates a lists....

In [12]:
l = range(2, 50)
sorted(set(l).difference(a for i in l for a in l if a!=i and a%i == 0))

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

32.create a program that generates a list of all....

In [39]:
pthag = [(x,y,z) for x in range(1,30) for y in range(x,30) for z in range(y,30) if x**2 + y**2 == z**2]
# I get that this is the part that calculates the starting point
# but why is it this?
print(pthag)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (20, 21, 29)]

33.Develop a program that genrates a list of all.....

In [ ]:
from itertools import combinations

sample_list = ['a', 'b', 'c']
list_combinations = list()

c=[list_combinations := list_combinations+list(combinations(sample_list, n)) for n in range(len(sample_list) + 1)]


print(list_combinations)

34.Write a program that calculates....

In [49]:
list1=[12,13,4,6,7,8]
mean=[ m:=sum(list1)/len(list1)]
print("mean of the list numbers:",mean)

mean of the list numbers: [8.333333333333334]

35.Create pascal tringle......

In [23]:
from math import factorial
# input n
n = 5
for i in range(n):
    for j in range(n-i+1):
        # for left spacing
        print(end=" ")
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
 
    # for new lin
    print()

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1


36.Develop a program that calculate the sum ....

In [30]:
lst = [1] + [i for i in range(1,5)]
lst[1:5] = [lst[i-1] * i for i in range(1,5)]
print(lst)

[1, 1, 2, 6, 12]

37.write a program that find the longest word in sentance....

In [34]:
s="This is my statement"
longest_word_length = max(len(word) for word in s.split())
longest_word = [word for word in s.split() if len(word) == longest_word_length]
print(longest_word)

['statement']

38.Create a program filter list.....

In [36]:
import re
fruits = ["mango", "kiwi", "strawberry", "guava", "pineapple", "mandarin orange"]
results = [i for i in fruits if len(re.sub(r"[^aeiouAEIOU]", "", i)) > 2]
print(results)

['guava', 'pineapple', 'mandarin orange']

39.Develop a program that calculate the sum of the digit of number.....

In [23]:
list2=[]
sum=0
c=[sum:=sum+int(j) for i in range(1,1000) for j in str(i)]
list2.append(sum)
print( " the sum of digit of number 1 to 1000:",list2)

 the sum of digit of number 1 to 1000: [13500]

40.write a program that generates a list of prime .......

In [43]:
c = [x for x in range(2, 100) if all(x % y != 0 for y in range(2, x))]
def palindromeNumbers(c):
    # loop till list is not empty
    for i in c:
        # Find reverse of current number
        t = i
        rev = 0
        while t > 0:
            rev = rev * 10 + t % 10
            t = t // 10
 
        # compare rev with the current number
        if rev == i:
            print(i)
    
palindromeNumbers(c)

2
3
5
7
11